MARIADB_HOST=db
MARIADB_ROOT_PASSWORD=
MAROADB_ALLOW_EMPTY_ROOT_PASSWORD=no
MARIADB_RANDOM_ROOT_PASSWORD=no
MARIADB_DATABASE=wiki
MARIADB_USER=wiki
MARIADB_PASSWORD=
MARIADB_VERSION=lts
MW_VERSION=lts
MW_SITE_SERVER=
MW_HOSTPORT=80
PROJECT=
PROJECT_SUBNET=
PROJECT_FQDN=
PROJECT_ENTRYPOINT=
