MARIADB_HOST=db
MARIADB_ROOT_PASSWORD=
MAROADB_ALLOW_EMPTY_ROOT_PASSWORD=no
MARIADB_RANDOM_ROOT_PASSWORD=no
MARIADB_DATABASE=wiki
MARIADB_USER=wiki
MARIADB_PASSWORD=
MARIADB_VERSION=lts
MW_VERSION=lts
MW_HOSTPORT=80
PROJECT=
PROJECT_SUBNET=
PROJECT_FQDN=
PROJECT_ENTRYPOINT=
PHP_LOG_ERRORS=
PHP_ERROR_REPORTING=
TZ=
MW_WGDEBUGMODE=
MW_WGDBPREFIX=
MW_WGDBSSL=
MW_WGDBTABLEOPTIONS=
MW_WGDBTYPE=
MW_WGSHAREDTABLES=
MW_WGSERVER=
MW_WGSITENAME=
MW_WGMETANAMESPACE=
MW_WGAUTHENTICATIONTOKENVERSION=
MW_WGSECRETKEY=
MW_WGUPGRADEKEY=
MW_WGDEFAULTSKIN=
MW_WGDIFF3=
MW_WGEMAILAUTHENTICATION=
MW_WGEMERGENCYCONTACT=
MW_WGENABLEEMAIL=
MW_WGENABLEUPLOADS=
MW_WGENABLEUSEREMAIL=
MW_WGENOTIFUSERTALK=
MW_WGENOTIFWATCHLIST=
MW_WGIMAGEMAGICKCONVERTCOMMAND=
MW_WGLANGUAGECODE=
MW_WGLOCALTIMEZONE=
MW_WGMAINCACHETYPE=
MW_WGMEMCACHEDSERVERS=
MW_WGPASSWORDSENDER=
MW_WGPINGBACK=
MW_WGRESOURCEBASEPATH=
MW_WGRIGHTSICON=
MW_WGRIGHTSPAGE=
MW_WGRIGHTSTEXT=
MW_WGRIGHTSURL=
MW_WGSAFEIPS=
MW_WGSCRIPTPATH=
MW_WGUSEIMAGEMAGICK=
MW_WGUSEINSTANTCOMMONS=
